.user {
  margin-bottom: 100px;
  max-width: 1010px;

  &_title {
    font-weight: 500;
    font-size: 24px;
  }

  &_text {
    margin-bottom: 60px;
    color: var(--text-secondary);
  }

  &_form {
    max-width: 910px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    & div:nth-child(3),
    & div:nth-child(4) {
      width: 100%;
    }
  }

  &_form_group {
    display: flex;
    flex-direction: column;
    width: 435px;

    @media screen and (max-width: 1339px) {
      width: 100%;
    }

    & label {
      font-weight: 400;
      margin-bottom: 10px;
    }

    & input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: var(--background-color);
      color: var(--text-primary);
      border: 1px solid #323232;
      outline: none;
    }
  }
}
