.transactions {
  &_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &_wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  &_title {
    font-weight: 500;
    font-size: 24px;
  }

  &_subtitle {
    color: var(--text-secondary);
  }

  &_text {
    max-width: 450px;
    font-size: 16px;
    margin-bottom: 60px;
  }
}
