.header {
  display: flex;
  justify-content: space-between;
  max-width: 1990px;
  padding: 47px 0 27px;
  margin: 0 50px 0;
  border-bottom: 1px solid var(--background-btn);

  &_title {
    font-size: 24px;
    font-weight: 400;
  }

  &_user {
    display: flex;
    align-items: center;
    width: 139px;
    height: 43px;
    border-radius: 5px;
    background-color: var(--secondary-color);

    & svg {
      margin: 0 10px 0;
    }
  }
}
