.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login {
  width: 720px;
  padding: 0 10px;
  text-align: center;

  &_form {
    & label {
      position: relative;
      display: block;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: left;
    }

    & input {
      width: 100%;
      padding: 10px 20px;
      background-color: var(--background-color);
      border: 1px solid var(--input-border);
      border-radius: 5px;
      outline: none;
      color: white;
      font-size: 16px;

      &::placeholder {
        color: var(--input-placeholder);
      }

      &[type='email'] {
        margin-bottom: 40px;
      }

      &[type='password'] {
        margin-bottom: 20px;
      }
    }
    & button {
      margin: 0 auto;
    }
  }

  &_forgot_link {
    display: block;
    color: var(--input-placeholder);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: left;
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  &_footer_text {
    font-size: 20px;
    font-weight: 400;
    color: #828282;
  }

  &_footer_link {
    color: white;
    margin-left: 5px;
  }

  &_error {
    position: absolute;
    top: 46px;
    right: 13px;
    color: var(--error-color);
    font-size: 16px;
  }
}
