.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.forgot_pass {
  width: 720px;
  padding: 0 10px;
  text-align: center;

  &_subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &_text {
    font-weight: 400;
    margin-bottom: 40px;
    color: #bdbdbd;
    max-width: 660px;
    & span {
      color: white;
    }
  }

  &_form {
    & label {
      display: block;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: left;
    }

    & input {
      width: 100%;
      padding: 10px 20px;
      background-color: var(--background-color);
      border: 1px solid var(--input-border);
      border-radius: 5px;
      outline: none;
      color: white;
      font-size: 16px;
      margin-bottom: 60px;

      &::placeholder {
        color: var(--input-placeholder);
      }
    }
  }

  &_btns {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &_back,
  &_submit {
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
  }

  &_back {
    color: var(--accent-color);
    background-color: var(--background-btn);
    width: 139px;
    height: 53px;
  }

  &_submit {
    color: var(--background-color);
    background-color: var(--accent-color);
    width: 247px;
    height: 53px;
  }
}
