@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap');

:root {
  --background-color: #151514;
  --secondary-color: #1b1b1a;
  --text-primary: #ffffff;
  --text-secondary: #e0e0e0;
  --accent-color: #fff829;
  --input-border: #323232;
  --input-placeholder: #4f4f4f;
  --background-btn: #2a2a28;
  --error-color: #ff3300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: var(--background-color);
  color: var(--text-primary);
}

// styles for active link in the navigation
a.active {
  color: var(--accent-color);
  background-color: #323232;
  border-radius: 8px;
  transition: all 0.4s;

  svg path {
    fill: var(--accent-color);
  }
}
